@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")
<body>
    <div id="layout-wrapper">
        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbArPartial.cshtml")
        @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")
        <div class="main-content">
            @RenderBody()
            @await Html.PartialAsync("/Views/AdminLayout/AdminFooterPartial.cshtml")
        </div>
    </div>
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptPartial.cshtml")
</body>
</html>
